
<h4 class="ml-1 mt-2">Markalar</h4>
<div *ngIf="dataLoaded==false" class="d-flex align-items-center">
  <strong>Loading...</strong>
  <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>

</div>
<hr class="ml-1">
<div class="form-group w-100">
  <input type="text" [(ngModel)]="filterTextBrand" class="form-control ml-1" placeholder="Marka filtrele" id="carSearch">
</div>
<div class="list-group ml-1">
  <li routerLink="/cars/brand/{{brand.id}}" class="list-group-item list-group-item-action" *ngFor="let brand of brands |brandPipe:filterTextBrand">
    {{brand.name}}
  </li>

</div>
