
<h4 class="ml-1 mt-2">Last rentals</h4>
<div *ngIf="dataLoaded==false" class="d-flex align-items-center">
  <strong>Loading...</strong>
  <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>

</div>
<hr class="ml-1">

<table class="table">
  <thead>
    <tr>
      <th scope="col">Brand</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let rental of rentals">
      <th scope="row">{{rental.brandName}}</th>
      <td>{{rental.firstName}}</td>
      <td>{{rental.firstName}}</td>
    </tr>

  </tbody>
</table>
