<div class="container">
  <div class="row">
    <form class="col-md-12" [formGroup]="loginForm">
      <div class="form-group">
        <label for="email" class="form-label">Email:</label>
        <input type="text" class="form-control" id="email" formControlName="email">
      </div>
      <div class="form-group">
        <label for="password" class="form-label">Password:</label>
        <input type="text" class="form-control" id="password" formControlName="password">
      </div>
      <button type="submit" class="btn btn-primary" (click)="login()">Submit</button>
    </form>
  </div>
</div>
