
<h4 class="ml-1 mt-2">Customers</h4>
<div *ngIf="dataLoaded==false" class="d-flex align-items-center">
  <strong>Loading...</strong>
  <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>

</div>
<hr class="ml-1">

<table class="table">
  <thead>
    <tr>
      <th scope="col">User Id</th>
      <th scope="col">Company Name</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let customer of customers">
      <th scope="row">{{customer.userId}}</th>
      <td>{{customer.companyName}}</td>
    </tr>

  </tbody>
</table>

